/* gallery start */

.gallery {
    position: relative;
}

.gallery__container {}

.gallery__content {}

.gallery__title {}

.gallery__text {
    max-width: 650px;
}

.swiper.gallery__swiper {
    margin-bottom: 30px;
    padding-bottom: 80px;
}


.swiper-wrapper {}

.swiper-slide {}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.gallery__item {
    height: 100%;
}

.gallery__img {}

.gallery__box {
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(231, 242, 249);
}

.swiper-pagination {}

.swiper.gallery__swiper .swiper-pagination {
    bottom: 0;
}

.swiper.gallery__swiper .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    background-color: #E7F2F9;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
}

.swiper.gallery__swiper .swiper-pagination-bullet-active {
    background-color: #2DA6DD;
    color: #fff;
}

/* gallery end */