/* info start */

.info {}

.info__container {}

.info__content {}

.content__title {}

.content__text {
    max-width: 500px;
}

.info__wrapper {
    padding: 6% 0;
    background-color: #E7F2F9;
}

.info__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info__img {}

.info__text-box {
    max-width: 550px;
}

.info__small-title {}

.info__small-text {}


@media(min-width:992px) {
    .info__box {
        flex-direction: row;
    }

    .info__img {
        max-width: 550px;
    }
}

/* info end */

/* stations start */

.stations {}

.stations__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stations__img {}

.stations__content {
    max-width: 550px;
}

.stations__title {}

.stations__text {}

@media(min-width:992px){
    .stations__container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .stations__img {
        max-width: 320px;
    }
}

/* stations end */