.info {}

.info__container {}

.info__content {}

.info__title {}

.info__text {
    max-width: 650px;
}

.info__wrapper {}

.info__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 7%;
}

.info__img {
    max-width: 350px;
}

.info__text-box {
    max-width: 750px;
}

.info__small-title {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.info__small-text {
    margin-bottom: 40px;
}

.info__name {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.info__position {
    display: block;
    font-weight: 300;
}

.info__bottom-box {
    max-width: 750px;
}

.info__bottom-title {
    font-size: 20px;
    font-weight: 500;
}

.info__bottom-text {
}

@media(min-width:992px){
    .info__box {
        flex-direction: row;
    }
}