.nav {
    position: absolute;
    top: -350%;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    transition: top 0.8s, bottom 0.8s;
}

.nav.show {
    top: 100%;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.nav__item {}

.nav__link {
    color: #254152;
    font-weight: 600;
    font-size: 18px;
}


.nav__Calculator {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    color: #254152;
    font-weight: 600;
    border-radius: 999px;
    background: #BCD249;
}

.nav__Calculator-icon {
    width: 26px;
    height: 26px;
}

@media(min-width:992px) {
    .nav {
        position: static;
        z-index: 2;
        padding: 15px 0;
        border-top: 1px solid #25415226;
        border-bottom: 1px solid #25415226;
    }

    .nav__list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .nav__link {
        font-size: 16px;
    }
}